html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
	user-select: none;
}

button {
  outline: none;
}

.appWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appMenuBar {
  flex: 0;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 4px;
  gap: 4px;
}

.infoPanel {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.gridEditor {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 4px;
}

.toolBarLeft {
  grid-column: 1;
  grid-row: 1/3;
}

.toolBarTop {
  grid-column: 2;
  grid-row: 1;
  margin-left: 8px;
}

.reactorGrid {
  grid-column: 2;
  grid-row: 2;
}

.infoPlot {
  flex: 0;
}

.infoText {
  flex: 1;
}
